@{
    Layout = null;
}

@* -- Popup de Resumo -- *@
<div id="modalResumo" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="javascript: { $('#modalResumo').modal('hide'); }" aria-hidden="false">×</button>
                <center><h4 class="modal-title"><strong></strong></h4></center>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" id="btnImprimir" class="btn btn-success btn-xs" onclick="javascript: { PrintContent(this); }">
                    <span class="glyphicon glyphicon-print"></span> Imprimir
                </button>
                <button type="button" id="btnGerarPDF" class="btn btn-danger btn-xs" onclick="javascript: { PDFContent(this); }">
                    <span class="glyphicon glyphicon-save"></span> Gerar PDF
                </button>
            </div>
        </div>
    </div>
</div>

@*Popup Inscrições / Holding*@
<div id="modalInscricoes" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="javascript: { FecharModal(this); }" aria-hidden="true">×</button>
                <center><h4 class="modal-title"><strong>Selecione a Conta</strong></h4></center>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div id="gridGroupAccount"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnSelectAccount" class="btn btn-success btn-xs" onclick="SelecionarLinhaGridInscricao()" disabled>
                    <span class="glyphicon glyphicon-pushpin"></span> Selecionar
                </button>
            </div>
        </div>
    </div>
</div>


@* -- Popup de Alerta -- *@
<div id="modalAlert" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="javascript: { FecharModal(this); }" aria-hidden="true">×</button>
                <center><h4 class="modal-title"><strong></strong></h4></center>
            </div>
            <div class="modal-body">
                <div class="alert alert-warning fade in" role="alert"></div>
            </div>
        </div>
    </div>
</div>

@* -- Popup de Sucesso -- *@
<div id="modalSuccess" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="javascript: { FecharModal(this); }" aria-hidden="true">×</button>
                <center><h4 class="modal-title"><strong></strong></h4></center>
            </div>
            <div class="modal-body">
                <div class="alert alert-success fade in" role="alert"></div>
            </div>
        </div>
    </div>
</div>