@*Carrossel*@
<div id="owl" class="owl-carousel">
    <div class="item">
        <div class="textoverlay">
            <h1>Método de ensino</h1><p>Conheça nosso método</p>
        </div>
        <img src="~/Content/images/carousel/girl-flag.jpg" alt="Girl flag">
    </div>
    <div class="item"><img src="~/Content/images/carousel/college-student.jpg" alt="College student"></div>
    <div class="item"><img src="~/Content/images/carousel/gate.jpg" alt="Gate"></div>
</div>

@*Menu*@

<br />


<div class="row" style="width:800px; margin:0 auto;">
    <h1 class="title" style="text-align:center; font-weight:bold">Sobre nós</h1>
    <div class="conteudo">
        American View é uma bem estabelecida escola de inglês, visando encurtar o tempo de ensino da língua inglesa com um investimento bem abaixo da média do mercado.
        Atenção individualizada e classes com, no máximo, quatro alunos são os diferenciais que garantem a qualidade do instituto, que é reconhecido por seus alunos por atender aos anseios profissionais e proporcionar uma melhor posição no mercado de trabalho.
        Com foco na conversação, aliado a uma base gramatical sólida, a instituição já formou cinco mil alunos desde sua criação, em 1997.
        A American View mantém em seu quadro de colaboradores, professores especializados, aptos a atender as necessidades de individuais de seus alunos e de empresas que visam qualificar seus profissionais.
    </div>
</div>

<br />

@*Metodologia*@
<div id="divMetodologia">
    <div class="row" style="width:100%; margin:0 auto;">
        <h1 class="title" style="text-align:center; font-weight:bold">Metodologia</h1>
    </div>
    <div style="display: table; border-collapse: separate; border-spacing: 10px;">
        <div style="display:table-row;">
            <div style="width:33%;display:table-cell; padding:5px;">
                <h2 class="tituloTabela" style="text-align:center">Sistema Didático</h2>
                <p class="conteudoTabela">A American View utiliza-se de um sistema didático próprio, destinado a instruir os rudimentos da língua inglesa para alunos acima de 13 anos, no período de um ano e meio (18 meses).</p>
            </div>
            <div style="width:33%;display:table-cell; padding:5px;">
                <h2 class="tituloTabela" style="text-align:center">Desenvolvimento</h2>
                <p class="conteudoTabela">Desenvolvido visando o máximo aprendizado no menor tempo presencial possível, ao termino do curso, o aluno está plenamente apto a falar, entender, escrever e ler as diversas formas de comunicação da língua inglesa.</p>
            </div>
            <div style="width:33%;display:table-cell; padding:5px;">
                <h2 class="tituloTabela" style="text-align:center">Metodologia</h2>
                <p class="conteudoTabela">A metodologia da American View transcende a sala de aula, portanto, além do conteúdo apresentado no decorrer das aulas o aluno deve manter a prática do estudo em casa, que consiste em realizar as atividades, revisar semanalmente os conteúdos das apostilas, mantendo o hábito de manter-se em contato com os vocabulários e verbos aprendidos. Rotina que garante os resultados desejados.</p>
            </div>
        </div>
    </div>
</div>
 
@*Vídeo*@
<div id="divVideo" class="row" style="width:100%; margin:0 auto;"> 
    <span class="line-title" style="background-color:#fafafa"></span>
    <h1 class="title" style="text-align:center; font-weight:bold">A importância de falar Inglês</h1>
    <div class="row" data-video="be0aFAqIhXk" id="video">
        <img src="screenshot.jpg" alt="Use your own screenshot.">
    </div>   
</div>


@*Gráficos*@



@*Contadores*@


@*Curso*@
<div id="divCurso" class="row" style="width:800px; margin:0 auto;">
    <h1 class="title" style="text-align:center; font-weight:bold">Curso</h1>
    <div class="conteudo" style="text-align:justify">
        O produto principal da American Viem é o Standart, desenvolvido em três módulos realizados no tempo máximo de 18 meses. O curso é baseado em atividades que visam o desenvolvimento da fala, escrita, entendimento e leitura da língua inglesa.
        Módulos do Standart:
        <br /><br />
        <strong>Módulo I - Essential Issue</strong>       
        <br />
        O primeiro modulo é básico. Traz os conteúdos gramaticais e de vocabulário em 15 lições, três revisões e duas provas que deverão ser cumpridas em uma aula e meia cada, em média, totalizando aproximadamente 40 aulas.
        Os conteúdos são apresentados em forma de exercícios de repetição de padrões gramaticais e de vocabulário em forma oral e escrita, compreensão de textos, listening practices e temas para desenvolvimento oral. Acompanha ainda CD de áudio ou de MP3, conforme opção do aluno.
        <br /><br />
        <strong>Módulo II - New Vision</strong><br />
        Este nível intermediado, que compõe o segundo modulo, traz temas de debates orais, textos, expressões e gírias, proporcionando ao estudante a sensação e confiança no desenvolvimento de sua própria oralidade.
        O conteúdo é composto de dez lições, uma revisão e uma prova, que levam em média duas aulas cada para serem transmitidas, totalizando 24 aulas.
        Neste estágio é recomendado o número de duas aulas por semana,
        já que o estudante terá uma redução significativa do volume de material de auto-estudo, diminuindo também o tempo necessário para a conclusão desta fase para 12 semanas.
        Acompanha ainda CD de áudio ou MP3.
        <br /><br />
        <strong>Módulo III - Skills for Fluency</strong>
        <br />
        Nesse terceiro módulo, avançado, é praticamente voltado para as atividades orais e de entendimento. Esta parte do método está dividida em 20 lições e uma prova final, que levam aproximadamente uma aula e meia para serem estudadas.
        Vale ressaltar que neste estágio do ensino ocorre a veiculação de filmes totalmente em inglês e sem legendas, transmitidos em uma aula cada, totalizando 40 aulas.
        Neste estágio também é recomendado o número de duas aulas por semana, já que o estudante também terá uma redução significativa do volume de material de auto-estudo, diminuindo o tempo necessário para a conclusão desta fase em 20 semanas. A soma total do estudo dos três livros é igual a 72 semanas, o equivalente a dezoito meses (um ano e meio).
        Além dos materiais descritos acima, serão apresentados durante o decorrer do curso vários materiais didáticos de apoio, dentre eles: filmes, vídeos, sites de internet, músicas e livros de contos em inglês, que deverão ser lidos durante a segunda e terceira fase do método. Todos os materiais extras serão oferecidos gratuitamente aos alunos.
    </div>
</div>

<br />

@*Metodologia*@
<div id="divMetodologia" class="row" style="width:800px; margin:0 auto;">
    <h1 class="title" style="text-align:center; font-weight:bold">Metodologia</h1>
    <div class="conteudo" style="text-align:center">
        A American View utiliza-se de um sistema didático próprio, destinado a instruir os rudimentos da língua inglesa para alunos acima de 13 anos, no período de um ano e meio (18 meses).
        Desenvolvido visando o máximo aprendizado no menor tempo presencial possível, ao termino do curso, o aluno está plenamente apto a falar, entender, escrever e ler as diversas formas de comunicação da língua inglesa.
        A metodologia da American View transcende a sala de aula, portanto, além do conteúdo apresentado no decorrer das aulas o aluno deve manter a prática do estudo em casa, que consiste em realizar as atividades, revisar semanalmente os conteúdos das apostilas, mantendo o hábito de manter-se em contato com os vocabulários e verbos aprendidos. Rotina que garante os resultados desejados.
        As frequências em sala de aula são adaptadas de acordo com a necessidade do aluno, porém, a recomendação é de uma aula semanal com uma hora de duração, com dois a três dias de auto-estudo para o desenvolvimento dos conteúdos ensinados.
    </div>
</div>


@*Blog*@


@*Intercâmbio*@


@*Contato*@

<br />

<div id="divContato">
    <div class="row" style="width:800px; margin:0 auto;">
        <h1 class="title" style="text-align:center; font-weight:bold">Entre em contato conosco</h1>
        <div class="conteudo" style="text-align:center">
            American View é uma bem estabelecida escola de inglês, visando encurtar o tempo de ensino da língua inglesa com um investimento bem abaixo da média do mercado.</h4>
        </div>   
    </div>
    <br />
    <table style="width:100%">
        <tr>
            <td style="width:25%; text-align:center">
                <h2 class="tituloTabela" style="text-align:center">Endereço</h2>
                <div class="conteudoTabela" style="width: 100%; text-align:center;">
                    <a style="text-align:center" href="http://maps.google.com/?q=1200 Avenida Adhemar de Barros, 2231 - Jardim dos Pássaros Guarujá - SP" target="_blank">Av. Adhemar de Barros, 2231</a>
                </div> 
            </td>
            <td style="width:25%; text-align:center">
                <h2 class="tituloTabela" style="text-align:center">Telefone</h2>
                <p class="conteudoTabela" style="text-align:center">+55 (13) 3025-6037</p>
            </td>
            <td style="width:25%; text-align:center">
                <h2 class="tituloTabela" style="text-align:center">E-mail</h2>
                <div class="conteudoTabela" style="width: 100%; text-align:center;">
                    <a style="text-align:center" href="mailto:contato@americanview.com.br" target="_blank">contato@americanview.com.br</a>
                </div>    
            </td>
            <td style="width:25%; text-align:center">
                <h2 class="tituloTabela" style="text-align:center">Facebook</h2>
                <div class="conteudoTabela" style="width: 100%; text-align:center;">
                    <a style="text-align:center" href="https://web.facebook.com/americanviewidiomas" target="_blank">American View</a>
                </div>
            </td>
        </tr>
    </table>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#owl").owlCarousel({
                autoPlay: 3000,
                navigation: false,
                slideSpeed: 300,
                paginationSpeed: 400,
                singleItem: true
            });           

           
            $("#video").simplePlayer();
        });
    </script>
}

