@@font-face{font-family:"segoeuil";src:url("fonts/segoeuil.eot");src:url("fonts/segoeuil.eot?#iefix") format("embedded-opentype"),
url("fonts/segoeuil.ttf") format("truetype")}
@font-face{font-family:"segoeui";src:url("fonts/segoeui.eot");src:url("fonts/segoeui.eot?#iefix") format("embedded-opentype"),
url("fonts/segoeui.ttf") format("truetype")}
html{background:url('images/layout/bg-menu-big.jpg') left top repeat-y;}
body{font-family:Segoe UI, segoeui, Trebuchet MS, Arial, sans-serif;background-color:transparent;}
html, body, .wrap{height:100%;}
body > .wrap{
    height:auto;
    min-height:100%;   
}

#loading-page{position:fixed;height:100%;width:100%;background-color:rgba(0,110,180, 0.7);z-index:1051;display:none;}
.img-loading{position:absolute;height:64px;width:64px;top:50%;left:50%;margin-left:-32px;margin-top:-32px;}
.grey-nav, .grey-nav>a{background-color:#777 !important;}
.grey-nav.open, .grey-nav.open>a{background-color:#4b4b4b !important;}
.light-grey-nav, .light-grey-nav>a{background-color:#fff !important;color:#555 !important;}
.light-grey-nav.open, .light-grey-nav.open>a{background-color:#fff !important;color:#555 !important;}
.purple-nav, .purple-nav>a{background-color:#a069c3 !important;}
.purple-nav.open, .purple-nav.open > a{background-color:#762c59 !important;}
.green-nav, .green-nav>a{background-color:#2e8965 !important;}
.green-nav.open, .green-nav.open > a{background-color:#2c7659 !important;}
.light-blue-nav, .light-blue-nav>a{background-color:#06665e !important;}
.light-blue-nav.open, .light-blue-nav.open > a{background-color:#06665e !important;}
.dark-red-nav, .dark-red-nav>a{background-color:#ba0707 !important;}
.light-blue-pepsi-nav, .light-blue-pepsi-nav>a{background-color:#00544d !important;}
.light-blue-pepsi-nav.open, .light-blue-pepsi-nav.open > a{background-color:#06665e !important;}
.orange-pepsi-nav, .orange-pepsi-nav>a{background-color:#E64100 !important;}
.orange-pepsi-nav.open, .orange-pepsi-nav.open > a{background-color:#FA9614 !important;}
.green-pepsi-nav, .green-pepsi-nav>a{background-color:#00642D !important;}
.green-pepsi-nav.open, .green-pepsi-nav.open > a{background-color:#016633 !important;}
.red-pepsi-nav, .red-pepsi-nav>a{background-color:#fe0000 !important;}
.red-pepsi-nav.open, .red-pepsi-nav.open > a{background-color:#d60101 !important;}
.blue-pepsi-nav, .blue-pepsi-nav>a{background-color:#00544d !important;}
.blue-pepsi-nav.open, .blue-pepsi-nav.open > a{background-color:#00544d !important;}
.tooltip.top .tooltip-arrow{border-top-color:#ff0000;}
.tooltip-inner{background-color:#ff0000;}
.badge{position:relative;text-shadow:none;font-size:12px;padding-top:1px;padding-bottom:3px;padding-right:5px;padding-left:5px;font-weight:normal;line-height:15px;}
.label-success, .badge-success{background-color:#69BE28!important;color:#fff;}
.label-success, .badge-orange{background-color:#fd9164!important;color:#fff;}
.badge-red{background-color:#f04124!important;color:#fff;}
#kt-nav>li:first-child{border-left:none;}
.dropdown-menu{border-radius:0px;top:92%;padding:0;width:240px;-webkit-box-shadow:0 2px 4px rgba(30,30,100,0.25);box-shadow:0 2px 4px rgba(30,30,100,0.25);border-color:#bcd4e5;}
.dropdown-menu>li{background-color:#fff;float:none !important;}
.dropdown-menu>li:hover, .dropdown-menu>li>a:hover{background-color:#f4f9fc;}
.dropdown-menu>li>a, .dropdown-menu>li>div{padding:10px 2px;margin:0 10px;border-bottom:1px solid;font-size:12px;line-height:16px;border-bottom-color:#e4ecf3;}
.dropdown-caret:before{border-bottom:7px solid rgba(0,0,0,0.2);border-left:7px solid transparent;border-right:7px solid transparent;content:"";display:inline-block;left:9px;position:absolute;top:-7px;}
.dropdown-caret:after{border-bottom:6px solid #fff;border-left:6px solid transparent;border-right:6px solid transparent;content:"";display:inline-block;left:10px;position:absolute;top:-6px;}
.pull-right.dropdown-caret:before{left:auto;right:9px;}
.pull-right.dropdown-caret:after{left:auto;right:10px;}
.breadcrumb{position:relative;width:100%;z-index:0;border-bottom:1px solid #e5e5e5;border-top:1px solid #e5e5e5;background-color:#f5f5f5;min-height:41px;line-height:40px;padding:0 12px 0 12px;border-radius:0;font-size:12px;text-transform:none;}
.breadcrumb li a{color:#a33d05;}
.breadcrumb li.active{color:#555;}
.breadcrumb > li + li:before{padding:0 1px;color:#b2b6bf;}
.glyphicon.devolucoes{transform:scaleX(-1);-ms-transform:scaleX(-1);-webkit-transform:scaleX(-1);padding:0 10px 0 0 !important;}
.panel-primary{border-color:#00544d;}
.panel-primary > .panel-heading{color:#ffffff;background-color:#00544d;border-color:#00544d;}
.panel-heading{cursor:pointer;}
.panel-title small{color:black;}
@media (min-width:992px){.modal-lg{width:90%;}
}
@media (min-width:768px){.modal-lg{width:90%;}
}
.k-grouping-header{font-size:13px;}
.k-pager-wrap.k-grid-pager.k-widget{font-size:12px;}
.k-numeric-wrap.k-state-default{width:120px;}
.k-grid tbody .k-button, .k-ie8 .k-grid tbody button.k-button{min-width:29px;}
.k-grid-header > .k-grid-header-wrap > table, .k-grid-content > table{min-width:760px;}
.k-textbox, .k-dropdown, .k-datepicker, .k-multiselect{font-size:12px;}
.k-numerictextbox.input-sm{margin-left:-10px;}
.kt-multipleSelect{border:1px solid #dadada;font-size:12px;color:#222222;}
.kt-multipleSelect:hover{border:1px solid #8ebc00;}
#HeaderContainer{position:relative;width:100%;min-height:45px;float:left;z-index:2;background:linear-gradient(to bottom, #f3f3f3, #e2e2e2);}
#Header{position:relative;min-height:45px;padding:0px 0px 0px 0px;}
#Header .col-xs-12{padding-right:0px;}
#Header #kt-appname{position:relative;float:left;color:#fff;padding-top:8px;}
#Header #kt-appname img{float:left;width:110px;height:auto;margin-right:10px;}
#Header #kt-appname h3{margin:0;}
#kt-navigation-content{position:relative;float:right;height:45px;}
#kt-nav>li{position:relative;float:left;line-height:45px;height:45px;border-left:1px solid #DDD;}
#kt-nav>li>a{position:relative;color:#fff;display:block;line-height:inherit;text-align:center;height:100%;width:auto;min-width:50px;padding:0 8px;}
#kt-nav>li>a>.glyphicon{font-size:16px;}
#kt-nav>li>a>.badge{top:-4px;left:2px;}
@media only screen and (max-width:767px){#HeaderContainer{min-height:85px;}
#kt-navigation-content{margin-top:7px;position:absolute;right:0;top:34px;}
}
.legend{display:block;width:100%;padding:0;margin-bottom:13px;font-size:19.5px;line-height:36px;color:#333;border:0;border-bottom:1px solid #E5E5E5;}
#ContentContainer{position:relative;float:left;width:100%;height:100%;min-height:300px;}
#Left-Container{position:relative;float:left;min-height:300px;padding:0px 0 45px 0;width:220px;height:100%;background:linear-gradient(to right, #00544d 93%, #06665e 100%);z-index:1;}
#Center-Container{position:relative;min-height:300px;margin:0;padding:0px 0px 10px 220px;}
#Center-Container .col-xs-12{padding-bottom:20px;}
@media only screen and (max-width:767px){#Left-Container{display:none;}
#Center-Container{padding:0px 0 0px 0;}
#Center-Container{padding-left:0 !important;}
html, body{background-image:none !important;}
}
#Left-Container nav{margin-top:0px;font-size:15px;}
#Left-Container nav ul.nav-list{padding:0px;}
#Left-Container nav ul.nav-list li{cursor:pointer;list-style:none;min-height:41px;line-height:41px;color:#e4e4e4;}
#Left-Container nav ul.nav-list li:hover{color:#fff;}
#Left-Container nav ul.nav-list li span{padding:0 0 0 10px;}
#Left-Container nav ul.nav-list li a{color:#e4e4e4;display:block;}
#Left-Container nav ul.nav-list li.active a{color:#fff;display:block;}
#Left-Container nav ul.nav-list li a:hover{color:#fff;text-decoration:none;}
#Left-Container nav ul.nav-list li .nav-title-item{display:block;width:195px;float:left;margin-top:-39px;margin-left:25px;}
#Left-Container nav ul.nav-list li ul{padding:7px 0px;background:url('images/layout/bg-menu-treeview-y.gif') 20px 0 repeat-y;background-color:#06665e;}
#Left-Container nav ul.nav-list li ul li{min-height:33px;line-height:33px;background:url('images/layout/bg-menu-treeview-xy.gif') 20px 0 no-repeat;}
#Left-Container nav ul.nav-list li ul li:hover{color:#fff;background-color:#a33d05;}
#Left-Container nav ul.nav-list li ul li{padding:0 0 0 25px;}
#Left-Container nav ul.nav-list li ul li.active a{color:#fff !important;}
.minimize-menu{position:absolute;border-bottom:1px solid #06665e;background:#06665e;color:#e4e4e4;padding:2px 11px;width:40px;height:30px;display:block;right:0;border-radius:5px 0 0 5px;cursor:pointer;font-size:19px;transition:all .1s linear 0s;}
.minimize-menu:hover{border-bottom:1px solid #06665e;background:#00544d;color:#fff;width:40px;}
.minimize-menu.active{border-radius:0px 0 0 0px;padding:2px 9px;}
.mini-nav{width:40px;}
.mini-nav ul.nav-list li{position:relative;}
.mini-nav ul.nav-list li .nav-title-item, .mini-nav ul.nav-list li .item{display:none !important;}
.mini-nav ul.nav-list li ul{position:absolute;margin-left:40px;width:220px;top:0px;}
.mini-nav ul.nav-list li ul li .item{display:block !important;}
#nav-menu-mobile{position:absolute;width:100%;z-index:2;top:0px;padding:4px 0;font-size:15px;display:none;}
#icone-lista{width:30px;cursor:pointer;margin:0px 10px 0 0;float:right;}
.nav-list-mobile{position:absolute;list-style:none;width:100%;padding:15px 0px;background-color:#00544d;z-index:1000;display:none;margin-top:37px;}
.nav-list-mobile li{cursor:pointer;list-style:none;min-height:39px;line-height:39px;color:#e4e4e4;}
.nav-list-mobile li span{padding:0 0 0 10px;}
.nav-list-mobile li:hover{color:#fff;}
.nav-list-mobile li a{color:#e4e4e4;display:block;text-decoration:none;}
.nav-list-mobile li a:hover{color:#fff;}
.nav-list-mobile li ul.submenu-menu-lista{padding:7px 0px;background:url('images/layout/bg-menu-treeview-y.gif') 20px 0 repeat-y;background-color:#06665e;}
.nav-list-mobile li ul.submenu-menu-lista li{min-height:33px;line-height:33px;background:url('images/layout/bg-menu-treeview-xy.gif') 20px 0 no-repeat;padding-left:25px;}
.nav-list-mobile li ul.submenu-menu-lista li:hover{color:#fff;background-color:#a33d05;}
.nav-list-mobile li ul.submenu-menu-lista li.active a{color:#fff !important;}
@media only screen and (max-width:767px){#nav-menu-mobile{display:block;}
}
#FooterContainer{position:relative;width:100%;min-height:45px;margin-top:-45px;clear:both;background-color:#ededed;color:#6b6c6f;}
#FooterContainer #Footer{position:relative;padding:0px 10px;text-align:center;line-height:43px;}
#FooterContainer #Footer a{float:right;}
#FooterContainer #Footer a img{height:35px;}
@media only screen and (max-width:391px){#FooterContainer{margin-top:-89px;min-height:89px;}
}
h1, h2, h3, h4, h5, h6{font-family:segoeuil, Trebuchet MS, Arial, sans-serif;}
p{font-family:segoeui, Trebuchet MS, Arial, sans-serif;font-size:13px;}
h1{padding:0;margin:0;font-size:24px;font-weight:lighter;color:#00544d;}
h2{padding:0;margin:0;font-size:20px;font-weight:lighter;color:#E64100;}
h3{padding:0;margin:0;font-size:18px;font-weight:lighter;color:#00642D;}
@media (min-width:1200px){.phone{display:none;}
.tablet{display:none;}
.desktop{display:block;}
}
@media (min-width:980px) and (max-width:1199px){.phone{display:none;}
.tablet{display:none;}
.desktop{display:block;}
}
@media (min-width:768px) and (max-width:979px){.phone{display:none;}
.tablet{display:block;}
.desktop{display:block;}
}
@media (max-width:767px){.phone{display:none;}
.tablet{display:block;}
.desktop{display:none;}
}
@media (max-width:480px){.phone{display:block;}
.tablet{display:none;}
.desktop{display:none;}
}
@media screen{#printSection{display:none;}
}
@media print{body *{visibility:hidden;}
#printSection, #printSection *{visibility:visible;}
#printSection{position:absolute;left:0;top:0;}
}
.hpanel > .panel-heading{color:inherit;font-weight:600;padding:10px 4px;transition:all .3s;border:1px solid transparent}
.hpanel .hbuilt.panel-heading{border-bottom:none}
.hpanel > .panel-footer{color:inherit;border:1px solid #e4e5e7;border-top:none;font-size:90%;background:#f7f9fa}
.hpanel.panel-collapse > .panel-heading, .hpanel .hbuilt{background:#fff;border-color:#e4e5e7;border:1px solid #e4e5e7;padding:10px 10px;border-radius:2px}
.hpanel .panel-body{background:#fff;border:1px solid #e4e5e7;border-radius:2px;padding:20px;position:relative}
.panel-collapse .panel-body{border:none}
.hpanel{background-color:none;border:none;box-shadow:none;margin-bottom:25px}
.panel-tools{display:inline-block;float:right;margin-top:0;padding:0;position:relative}
.hpanel .alert{margin-bottom:0;border-radius:0;border:1px solid #e4e5e7;border-bottom:none}
.panel-tools a{margin-left:5px;color:#9d9fa2;cursor:pointer}
.hpanel.hgreen .panel-body{border-top:2px solid #62cb31}
.hpanel.hblue .panel-body{border-top:2px solid #3498db}
.hpanel.hyellow .panel-body{border-top:2px solid #ffb606}
.hpanel.hviolet .panel-body{border-top:2px solid #9b59b6}
.hpanel.horange .panel-body{border-top:2px solid #e67e22}
.hpanel.hred .panel-body{border-top:2px solid #e74c3c}
.hpanel.hreddeep .panel-body{border-top:2px solid #c0392b}
.hpanel.hnavyblue .panel-body{border-top:2px solid #34495e}
.hpanel.hbggreen .panel-body{background:#62cb31;color:#fff;border:none}
.hpanel.hbgblue .panel-body{background:#3498db;color:#fff;border:none}
.hpanel.hbgyellow .panel-body{background:#ffb606;color:#fff;border:none}
.hpanel.hbgviolet .panel-body{background:#9b59b6;color:#fff;border:none}
.hpanel.hbgorange .panel-body{background:#e67e22;color:#fff;border:none}
.hpanel.hbgred .panel-body{background:#e74c3c;color:#fff;border:none}
.hpanel.hbgreddeep .panel-body{background:#c0392b;color:#fff;border:none}
.hpanel.hbgnavyblue .panel-body{background:#34495e;color:#fff;border:none}
.panel-group .panel-heading{background-color:#f7f9fa}
.small-header .hpanel{margin-bottom:0}
.small-header{padding:0 !important}
.small-header .panel-body{padding:15px 25px;border-right:none;border-left:none;border-top:none;border-radius:0}
.panel-body h5, .panel-body h4{font-weight:600}
.small-header .panel-body h2{font-size:14px;font-weight:600;text-transform:uppercase;margin:0 0 0 0}
.small-header .panel-body small{color:#838589}
.flot-chart{display:block;height:200px;}
.widget .flot-chart.dashboard-chart{display:block;height:120px;margin-top:40px;}
.flot-chart.dashboard-chart{display:block;height:180px;margin-top:40px;}
.flot-chart-content{width:100%;height:100%;}
.flot-chart-pie-content{width:200px;height:200px;margin:auto;}
.jqstooltip{position:absolute;display:block;left:0px;top:0px;visibility:hidden;background:#2b303a;background-color:rgba(43, 48, 58, 0.8);color:white;text-align:left;white-space:nowrap;z-index:10000;padding:5px 5px 5px 5px;min-height:22px;border-radius:3px;}
.jqsfield{color:white;text-align:left;}
.h-200{min-height:200px;}
.legendLabel{padding-left:5px;}
.stat-list li:first-child{margin-top:0;}
.stat-list{list-style:none;padding:0;margin:0;}
.stat-percent{float:right;}
.stat-list li{margin-top:15px;position:relative;}
.text-muted{color:#888888;}
.p-xxs{padding:5px;}
.p-xs{padding:10px;}
.p-sm{padding:15px;}
.p-m{padding:20px;}
.p-md{padding:25px;}
.p-lg{padding:30px;}
.p-xl{padding:40px;}
.m-xxs{margin:2px 4px;}
.m-xs{margin:5px;}
.m-sm{margin:10px;}
.m{margin:15px;}
.m-md{margin:20px;}
.m-lg{margin:30px;}
.m-xl{margin:50px;}
.m-n{margin:0 !important;}
.m-l-none{margin-left:0;}
.m-l-xs{margin-left:5px;}
.m-l-sm{margin-left:10px;}
.m-l{margin-left:15px;}
.m-l-md{margin-left:20px;}
.m-l-lg{margin-left:30px;}
.m-l-xl{margin-left:40px;}
.m-l-n-xxs{margin-left:-1px;}
.m-l-n-xs{margin-left:-5px;}
.m-l-n-sm{margin-left:-10px;}
.m-l-n{margin-left:-15px;}
.m-l-n-md{margin-left:-20px;}
.m-l-n-lg{margin-left:-30px;}
.m-l-n-xl{margin-left:-40px;}
.m-t-none{margin-top:0;}
.m-t-xxs{margin-top:1px;}
.m-t-xs{margin-top:5px;}
.m-t-sm{margin-top:10px;}
.m-t{margin-top:15px;}
.m-t-md{margin-top:20px;}
.m-t-lg{margin-top:30px;}
.m-t-xl{margin-top:40px;}
.m-t-n-xxs{margin-top:-1px;}
.m-t-n-xs{margin-top:-5px;}
.m-t-n-sm{margin-top:-10px;}
.m-t-n{margin-top:-15px;}
.m-t-n-md{margin-top:-20px;}
.m-t-n-lg{margin-top:-30px;}
.m-t-n-xl{margin-top:-40px;}
.m-r-none{margin-right:0;}
.m-r-xxs{margin-right:1px;}
.m-r-xs{margin-right:5px;}
.m-r-sm{margin-right:10px;}
.m-r{margin-right:15px;}
.m-r-md{margin-right:20px;}
.m-r-lg{margin-right:30px;}
.m-r-xl{margin-right:40px;}
.m-r-n-xxs{margin-right:-1px;}
.m-r-n-xs{margin-right:-5px;}
.m-r-n-sm{margin-right:-10px;}
.m-r-n{margin-right:-15px;}
.m-r-n-md{margin-right:-20px;}
.m-r-n-lg{margin-right:-30px;}
.m-r-n-xl{margin-right:-40px;}
.m-b-none{margin-bottom:0;}
.m-b-xxs{margin-bottom:1px;}
.m-b-xs{margin-bottom:5px;}
.m-b-sm{margin-bottom:10px;}
.m-b{margin-bottom:15px;}
.m-b-md{margin-bottom:20px;}
.m-b-lg{margin-bottom:30px;}
.m-b-xl{margin-bottom:40px;}
.m-b-n-xxs{margin-bottom:-1px;}
.m-b-n-xs{margin-bottom:-5px;}
.m-b-n-sm{margin-bottom:-10px;}
.m-b-n{margin-bottom:-15px;}
.m-b-n-md{margin-bottom:-20px;}
.m-b-n-lg{margin-bottom:-30px;}
.m-b-n-xl{margin-bottom:-40px;}
.space-15{margin:15px 0;}
.space-20{margin:20px 0;}
.space-25{margin:25px 0;}
.space-30{margin:30px 0;}
body.modal-open{padding-right:inherit !important;}
.block{display:block;}
.Credito-Totalizador{border-bottom:1px solid black;border-top:1px solid black;font-weight:bold;}
.Credito-Normal{font-weight:normal;}
.Text-Rel{text-align:left;}
.Val-Rel{text-align:right;}
.Ger-Lin{line-height:11px;border-bottom:1px solid black;border-top:1px solid black;}
.Ger-Bold{font-weight:bold;}
.Ger-font{font-family:Tahoma;font-size:10px;color:black;}
.SubTit-Rel{background-color:black;color:white;font-weight:bold;text-align:right;}
.SubTitN-Rel{background-color:white;color:black;font-weight:bold;text-align:right;}
body.md-skin{font-family:"Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;background-color:#ffffff;}
.md-skin .nav-header{background:url("patterns/4.png") no-repeat;}
.md-skin .label,
.md-skin .badge{font-family:'Roboto';}
.md-skin .font-bold{font-weight:500;}
.md-skin .wrapper-content{padding:30px 20px 40px;}
@media (max-width:768px){.md-skin .wrapper-content{padding:30px 0 40px;}
}
.md-skin .page-heading{border-bottom:none !important;border-top:0;padding:0 10px 20px 10px;box-shadow:0 1px 1px -1px rgba(0, 0, 0, 0.34), 0 0px 6px 0px rgba(0, 0, 0, 0.14);}
.md-skin .full-height-layout .page-heading{border-bottom:1px solid #e7eaec !important;}
.md-skin .ibox{clear:both;margin-bottom:25px;margin-top:0;padding:0;box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);}
.md-skin .ibox.border-bottom{border-bottom:none !important;}
.md-skin .ibox-title,
.md-skin .ibox-content{border-style:none;}
.md-skin .ibox-title h5{font-size:16px;font-weight:400;}
.md-skin a.close-canvas-menu{color:#ffffff;}
.md-skin .welcome-message{color:#ffffff;font-weight:300;}
.md-skin #top-search::-moz-placeholder{color:#ffffff;}
.md-skin #top-search::-webkit-input-placeholder{color:#ffffff;}
.md-skin #nestable-output,
.md-skin #nestable2-output{font-family:'Roboto', lucida grande, lucida sans unicode, helvetica, arial, sans-serif;}
.md-skin .landing-page{font-family:'Roboto', helvetica, arial, sans-serif;}
.md-skin .landing-page.navbar-default.navbar-scroll{background-color:#fff !important;}
.md-skin .landing-page.navbar-default{background-color:transparent !important;box-shadow:none;}
.md-skin .landing-page.navbar-default .nav li a{font-family:'Roboto', helvetica, arial, sans-serif;}
.md-skin .nav > li > a{color:#676a6c;padding:14px 20px 14px 25px;}
.md-skin .nav.navbar-right > li > a{color:#ffffff;}
.md-skin .nav > li.active > a{color:#5b5d5f;font-weight:700;}
.md-skin .navbar-default .nav > li > a:hover,
.md-skin .navbar-default .nav > li > a:focus{font-weight:700;color:#5b5d5f;}
.md-skin .nav .open > a,
.md-skin .nav .open > a:hover,
.md-skin .nav .open > a:focus{background:#1ab394;}
.md-skin .navbar-top-links li{display:inline-table;}
.md-skin .navbar-top-links .dropdown-menu li{display:block;}
.md-skin .pace-done .nav-header{transition:all 0.4s;}
.md-skin .nav > li.active{background:#f8f8f9;}
.md-skin .nav-second-level li a{padding:7px 10px 7px 52px;}
.md-skin .navbar-top-links li a{padding:20px 10px;min-height:50px;}
.md-skin .nav > li > a{font-weight:400;}
.md-skin .navbar-static-side .nav > li > a:focus,
.md-skin .navbar-static-side .nav > li > a:hover{background-color:inherit;}
.md-skin .navbar-top-links .dropdown-menu li a{padding:3px 20px;min-height:inherit;}
.md-skin .nav-header a{color:#ffffff;}
.md-skin .nav-header .text-muted{color:#ffffff;}
.md-skin .navbar-form-custom .form-control{font-weight:300;}
.md-skin .mini-navbar .nav-second-level{background-color:inherit;}
.md-skin .mini-navbar li.active .nav-second-level{left:65px;}
.md-skin .canvas-menu.mini-navbar .nav-second-level{background:inherit;}
.md-skin .pace-done .navbar-static-side,
.md-skin .pace-done .nav-header,
.md-skin .pace-done li.active,
.md-skin .pace-done #page-wrapper,
.md-skin .pace-done .footer{-webkit-transition:all 0.4s;-moz-transition:all 0.4s;-o-transition:all 0.4s;transition:all 0.4s;}
.md-skin .navbar-fixed-top{background:#fff;transition-duration:0.4s;z-index:2030;border-bottom:none !important;}
.md-skin .navbar-fixed-top,
.md-skin .navbar-static-top{background-color:#1ab394 !important;box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);}
.md-skin .navbar-static-side{box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);}
.md-skin #right-sidebar{box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);border:none;z-index:900;}
.md-skin .white-bg .navbar-fixed-top,
.md-skin .white-bg .navbar-static-top{background:#fff !important;}
.md-skin .contact-box{box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);border:none;}
.md-skin .dashboard-header{border-bottom:none !important;border-top:0;padding:20px 20px 20px 20px;margin:30px 20px 0 20px;box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);}
@media (max-width:768px){.md-skin .dashboard-header{margin:20px 0 0 0;}
}
.md-skin ul.notes li div{box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);}
.md-skin .file{border:none;box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);}
.md-skin .mail-box{background-color:#ffffff;box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);padding:0;margin-bottom:20px;border:none;}
.md-skin .mail-box-header{border:none;background-color:#ffffff;box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);padding:30px 20px 20px 20px;}
.md-skin .mailbox-content{border:none;padding:20px;background:#ffffff;}
.md-skin .social-feed-box{border:none;background:#fff;margin-bottom:15px;box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);}
.md-skin.landing-page .navbar-default{background-color:transparent !important;border-color:transparent;transition:all 0.3s ease-in-out 0s;box-shadow:none;}
.md-skin.landing-page .navbar-default.navbar-scroll,
.md-skin.landing-page.body-small .navbar-default{background-color:#ffffff !important;}
.md-skin.landing-page .nav > li.active{background:inherit;}
.md-skin.landing-page .navbar-scroll .navbar-nav > li > a{padding:20px 10px;}
.md-skin.landing-page .navbar-default .nav li a{font-family:'Roboto', helvetica, arial, sans-serif;}
.md-skin.landing-page .nav > li > a{padding:25px 10px 15px 10px;}
.md-skin.landing-page .navbar-default .navbar-nav > li > a:hover,
.md-skin.landing-page .navbar-default .navbar-nav > li > a:focus{background:inherit;color:#1ab394;}
.md-skin.landing-page.body-small .nav.navbar-right > li > a{color:#676a6c;}
.md-skin .landing_link a,
.md-skin .special_link a{color:#ffffff !important;}
.md-skin.canvas-menu.mini-navbar .nav-second-level{background:#f8f8f9;}
.md-skin.mini-navbar .nav-second-level{background-color:#ffffff;box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);}
.md-skin.mini-navbar .nav-second-level li a{padding-left:0px;}
.md-skin.top-navigation .nav.navbar-right > li > a{padding:15px 20px;color:#676a6c;}
.md-skin.top-navigation .nav > li a:hover,
.md-skin .top-navigation .nav > li a:focus,
.md-skin.top-navigation .nav .open > a,
.md-skin.top-navigation .nav .open > a:hover,
.md-skin.top-navigation .nav .open > a:focus{color:#1ab394;background:#ffffff;}
.md-skin.top-navigation .nav > li.active a{color:#1ab394;background:#ffffff;}
.md-skin.fixed-nav #wrapper.top-navigation #page-wrapper{margin-top:0;}
.md-skin.fixed-sidebar.mini-navbar .navbar-static-side{width:0;}
.md-skin.fixed-sidebar.mini-navbar #page-wrapper{margin:0 0 0 0;}
.md-skin.body-small.fixed-sidebar.mini-navbar #page-wrapper{margin:0 0 0 0;}
.md-skin.body-small.fixed-sidebar.mini-navbar .navbar-static-side{width:220px;background-color:#ffffff;}
.md-skin.canvas-menu nav.navbar-static-side{z-index:2001;background:#ffffff;height:100%;position:fixed;display:none;}

.conteudo {
    text-align:center;  
    font-size: 20px;
    line-height: 150%;
}
.tituloTabela {
    text-align: center;  
    font-size: 18px;
    font-weight: bold;
}

.conteudoTabela {
    text-align: justify;  
    font-size: 16px;
    line-height: 150%;
}
#owl .item{
    margin: 0px;
}

#owl .item img{
   display: block;  
   margin: 0px;
   height: 800px;
   width: 100%;   
}

.owl-carousel div h2, .owl-carousel div .textoverlay{
    position:absolute;    
    font-size:50px;
    display:block;
    margin-top:50px;
}


#video {
  position: relative;
  background: #000;
  width: 640px;
  height: 320px;
  margin: 20px auto;
}

#video img,
#video iframe { display: block; }

#play {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: url('plugins/youtube/play-button.png') no-repeat 50% 50%;   
    background-size: auto, cover;
    z-index: 9999;
}

#play:hover { background-color: rgba(0,0,0,0.2) !important; }

/*Parallax*/
section { 
    display: inline-block;
}

.parallax {
    /*font-family: 'tahoma', sans-serif;
    color: black;*/
    margin: 0 auto;
    width: 100%;  
    position: relative;
    min-height: 100%;   
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#curso {
    background-image: url('images/layout/logo.png');
    background-size: 800px;
    
   /*background-position: center; 
   vertical-align: middle;*/
    /*opacity: 0.6;*/
}

/** Formata o article que vai o texto **/
.parallax article {
    width: 70%;
    text-align: center;
    margin:0 auto;
}
#home article { 
    padding:20% 0 0;
}

#portfolio article { 
    padding:15% 0 0;
}


/*Tabela Preços*/
.tiny {
    float: left;
    margin:20px 0;background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQAIfP378zwjjgzj8/PyMYAEYB8RmROaABAAVMg/XkcvroQAAAABJRU5ErkJggg==) repeat;
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
	border:1px solid #14937a;
	border-bottom:10px solid #14937a;    
}

.small {
    float: left;
	margin:20px 0;background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQAIfP378zwjjgzj8/PyMYAEYB8RmROaABAAVMg/XkcvroQAAAABJRU5ErkJggg==) repeat;
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
	border:1px solid #cd8109;
	border-bottom:10px solid #cd8109;    
}

.medium {
    float: left;
    margin:20px 0;background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQAIfP378zwjjgzj8/PyMYAEYB8RmROaABAAVMg/XkcvroQAAAABJRU5ErkJggg==) repeat;
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
	border:1px solid #a12f23;
	border-bottom:10px solid #a12f23;    
}

.pro {
    float: left;
	margin:20px 0;
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQAIfP378zwjjgzj8/PyMYAEYB8RmROaABAAVMg/XkcvroQAAAABJRU5ErkJggg==) repeat;
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
	border:1px solid #1d6391;
	border-bottom:10px solid #1d6391;    
}

.pricing-table strong { font-weight: 700; color: #3d3d3d; }

.pricing-table-header-tiny {
    padding: 5px 0 5px 0;
    background: #16a085;
	border-bottom:10px solid #14937a;
    text-align:center;
}

.pricing-table-header-small {
    padding: 5px 0 5px 0;
    background: #f39c12;
	border-bottom:10px solid #cd8109;
    text-align:center;
}

.pricing-table-header-medium {
    padding: 5px 0 5px 0;
    background: #c0392b;
	border-bottom:10px solid #a12f23;
    text-align:center;
}

.pricing-table-header-pro {
    padding: 5px 0 5px 0;
    background: #2980b9;
	border-bottom:10px solid #1d6391;
    text-align:center;
}

.pricing-table-header-tiny h2, .pricing-table-header-small h2, .pricing-table-header-medium h2, .pricing-table-header-pro h2 {  font-weight: 700; color:#FFF; }
.pricing-table-header-tiny h3, .pricing-table-header-small h3, .pricing-table-header-medium h3, .pricing-table-header-pro h3 { font-weight: 500; color:#FFF;  }


.pricing-table-text {
    margin: 15px 30px 0 30px;
    padding: 0 10px 15px 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    line-height: 30px;
    font-size: 16px;
    color: #888;
}

.pricing-table-features {
    margin: 15px 10px 0 10px;
    padding: 0 10px 15px 10px;   
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    color: #888;
}

.pricing-table-signup-tiny {
    margin-top: 25px;
    padding-bottom: 10px;
}

.pricing-table-signup-tiny a {
    display: inline-block;
    width:50%;
    height: 50px;
    background: #16a085;
    line-height: 50px;
    
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.pricing-table-signup-tiny a:hover {
    text-decoration: none;
    background: #14937a;
	color: #fff; 
}

.pricing-table-signup-tiny a:active {
    background: #14937a;
	color: #fff;
}

.pricing-table-signup-small {
    margin-top: 25px;
    padding-bottom: 10px;
}

.pricing-table-signup-small a {
    display: inline-block;
    width:50%;
    height: 50px;
    background: #f39c12;
    line-height: 50px;    
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;   
}

.pricing-table-signup-small a:hover {
    text-decoration: none;
	background-color:#cd8109;
	color: #fff;
}

.pricing-table-signup-small a:active {
    background-color:#cd8109;
	color: #fff;
}

.pricing-table-signup-medium {
    margin-top: 25px;
    padding-bottom: 10px;
}

.pricing-table-signup-medium a {
    display: inline-block;
    width:50%;
    height: 50px;
    background: #c0392b;
    line-height: 50px;    
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;   
}

.pricing-table-signup-medium a:hover {
    text-decoration: none;
	background-color:#a12f23;
	color:#FFF;
}

.pricing-table-signup-medium a:active {
    background-color:#a12f23;
	color: #fff;
}

.pricing-table-signup-pro {
    margin-top: 25px;
    padding-bottom: 10px;
}

.pricing-table-signup-pro a {
    display: inline-block;
    width:50%;
    height: 50px;
    background: #2980b9;
    line-height: 50px;    
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.pricing-table-signup-pro a:hover {
    text-decoration: none;
	background-color:#1d6391;
	color: #fff;
}

.pricing-table-signup-pro a:active {
    background-color:#1d6391;
	color: #fff;
}

.top {
    margin-top:20px;
}

.space {
    margin:10px;
}
